<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.susan.bargraphview">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">


        <activity android:name=".BarGraphActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>

</manifest>
